*~
*.pyc
core

build/
dist/
lib/
man/
local/
include/
*.egg-info/
*.egg/

.coverage
.coverage.*
pyvenv.cfg
.python-version
MANIFEST
*.egg
.travis.yml*
**.watsonrc

doc/.buildinfo
doc/.doctrees/
doc/doctrees/
doc/html/
doc/coverage/

htmlcov/

shellstreaming/test/data/shellstreaming_test_tweet.cnf
