*~
*.pyc
core

bin/
dist/
lib/
man/
local/
include/
*.egg-info/
*.egg/

.coverage
.coverage.*
pyvenv.cfg
.python-version
MANIFEST
*.egg
.travis.yml*

doc/.buildinfo
doc/.doctrees/
doc/doctrees/
doc/html/.buildinfo
doc/html/_sources/
doc/html/objects.inv
doc/coverage/

htmlcov/
